<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> PAGE NOT FOUND!</title>
</head>
<h1>PAGE NOT FOUND!</h1>
<body>
<div>
<a href="/">HOME</a>
</div>
</body>


</html>
<style>
    body {
        background: cyan;
    }
    div {
        height: 50%;
        width: 80%;
        background: #ff7274;
    }
    h1 {
        font-size: xx-large;
        font-style: italic;
        color: #7fd082;
    }
</style>