<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> SecondsInAMinute = 60</title>
</head>
<h1>!!!!!!!!!!!!!!!!!!!!!DaysInAYear = 365</h1>
<body>
<div>
    <%- include ('./bloks/header.ejs') %>
    var SecondsInAMinute = 60
    var MinutesInAHour = 60
    var SecondsInAHour = SecondsInAMinute*MinutesInAHour
    var HoursInADay = 24
    var SecondsInADay = SecondsInAHour*HoursInADay
    var DaysInAYear = 365
    var SecondsInAYear = DaysInAYear*SecondsInADay
</div>
<a href="/">HOME</a>
</body>


</html>
<style>
    body {
        background: cyan;
    }
    div {
        height: 50%;
        width: 80%;
        background: aquamarine;
    }
</style>