
<head>
    <title> SecondsInAMinute = 60</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<h1>DaysInAYear = 365</h1>
<body>
<%- include ('./bloks/header.ejs') %>
<form method="post">
    <input type="text" name="info5">
    <button type="submit" >SUBMIT!</button>
</form>

Информация

Безопасные покупки
Международные перевозки

Контакты
Адрес:
г. Харьков , район Московский , ул. Бучмы 20а
Телефоны:
(050)69-82-9805
(095)55-67-3583
(096)80-35-25789
E-mail: 20ydsuport@gmail.com

</body>
