
<link rel="stylesheet" href="../public/css/style.css">
<h1>Hi <%= name%>!!</h1>
<body>
<%- include ('./bloks/header.ejs') %>
<form action="/logout?_method=DELETE" method="post">
    <button type="submit">Logout</button>
</form>
</body>
